* {
  margin: 0;
  padding: 0;
  font-family: k
}
.main-container {
  height: 100vh;
  width: 100%;
}
header {
  position: fixed;
  z-index: 10000;
  background-color: #3494fa;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.menu-icon {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 20px;
}
.heading {
  color: #fff;
  float: left;
  margin: 0;
  padding: 6px 0;
}
.filter-icon {
  float: right;
  width: 40px;
  height: 40px;
}
.sort-icon {
  float: right;
  width: 40px;
  height: 40px;
  color: white;
}
.content {
  padding: 100px 20px 0;
}
.content .property_tile {
  border: 1px solid #000;
  width: 100%;
  height: 150px;
  margin-bottom: 30px;
  border-radius: 10px;
}

footer {
  position: fixed;
  z-index: 10000;
  bottom: 0;
  width: 100%;}
footer div {
  width: 25%;
  height: 60px;
  background-color: #3494fa;
  border-right: 1px solid #fff;
  float: left;
  box-sizing: border-box;
  text-align: center;
  cursor:pointer;
  padding: 7px 10px 10px 10px;
  color:#ffffff;
}
footer div:last-child {
  border: none;
}
footer div.active{
  background-color: #00da88 !important; 
}

menu {
  background: #fff;
  position: fixed;
  z-index: 1000001;
  width: 80%;
  height: 100%;
  padding: 60px 20px 0;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease-in;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 0px 6px;
}
menu.active {
  transform: translateX(0);
}
menu ul {
  margin-top: 40px;
}
menu li {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  list-style: none;
}
menu .cancel-icon {
  float: right;
  width: 40px;
  height: 40px;
}

.filter {
  background: #fff;
  position: fixed;
  z-index: 1000001;
  width: 80%;
  height: 100%;
  padding: 20px;
  right: 0;
  top: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in;
  box-shadow: rgba(0, 0, 0, 0.2) -2px 0px 6px;
}
.filter.active {
  transform: translateX(0);
}

.filter-header {
  margin-bottom: 40px;
}
.filter h2 {
  font-size: 36px;
}
.filter-cancel-icon {
  width: 40px;
  height: 40px;
  float: right;
}
.filter-footer {
  position: absolute;
  bottom: 40px;
  left: 0;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}
.filter-footer button {
  border: none;
  background: #3494fa;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  float: right;
}
.tile {
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 3px;
  margin-bottom: 40px;
  overflow: hidden;
}
.tile .imgb {
  float: left;
  width: 50%;
  height: 143px;
  overflow: hidden;
  background-size: cover;
}
.tile .txtb {
  float: left;
  width: 50%;
}
.price-detail {
  border-bottom: 1px solid #ccc;
  float: left;
}
.price-detail strong {
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 18px;
  float: left;
}
.price-detail strong.total {
  border-left: 1px solid #ccc;
  color: #020202;
  text-align: center;
}
.price-detail strong span {
  font-size: 9px;
  color: #929eaa;
  display: block;
  float: left;
  margin-left: 10px;
}
.description {
  padding: 5px;
  float: left;
}
.description h3 {
  font-size: 14px;
}
.description p {
  
  margin-bottom: 5px;
    font-size: 12px;
    margin-left: 15px;
    color: #929eaa;
}

.aditional-info {
  float: left;
  background-color: #ccc;
  width: 100%;
  padding: 5px 0;
  box-sizing: border-box;
}
.aditional-info strong {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  font-size: 13px;
  color: #3494fa;
  padding: 0 5px;
}
.aditional-info strong span {
  display: block;
  font-size: 9px;
  font-weight: normal;
  color: #000;
}
.bottom-bar {
  float: left;
  width: 100%;
  display:inline-block; 
}
.bottom-bar > div {
  background: #3494fa;
  width: 33.3%;
  float: left;
  box-sizing: border-box;
  padding: 5px;
}

.bottom-bar .info {
  color: #ffffff;
  font-size: 11px;


}
.bottom-bar .icon {
  color: #ffffff;
  font-size: 14px;
  width: 20%
}
.image-banner
{
  z-index: 1000; 
  position: relative; 
  top: 20px;
  float: left; 
  height: 20px; 
  width: 30%; 
  text-align: center; 
  border-radius: 0px 10px;
  background: orange;
  color: #ffffff;
  padding: 7px 9px;
  border-spacing: 2px;
  border-color: #ffffff;

}
.info strong{

  margin-left: 30px;

}
div.property-info:hover
{
  background-color: #00da88; 
}
